.emptyStateTag {
  padding: $gap-12;
}

.emptyStateIcon {
  color: $text-secondary;
}

.emptyStateText {
  width: $width-400;
  text-align: center;
}

.iconFontSize {
  font-size: $font-size-30;
}

.statusTextSmall {
  font-size: $font-size-12;
}

.cursorPointer {
  cursor: pointer;
}
